@page "/stafflist"
@rendermode InteractiveServer
@inherits StaffBase
@if(Staffs == null)
{
    <div class="spinner">........</div>
}
else
{
      <div>
        <!-- Add Employee Button -->
        <a href="/addstaff" class="btn btn-success m-3">Add Employee</a>
    </div>
    <div class="card-group">
        @foreach(var staff in Staffs)
        {
            <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
                <div class="card-header">
                    <h3>@staff.FirstName @staff.LastName</h3>
                    <div class="card-footer text-center">
                        <a href="@($"staffdetails/{staff.EmployeeId}")" class="btn btn-primary m-1">
                            View
                        </a>
                        <a href="@($"editstaff/{staff.EmployeeId}")" class="btn btn-primary m-1">
                            Edit
                        </a>
                       <button class="btn btn-danger m-1" @onclick="() => DeleteEmployee(staff.EmployeeId)">
                                Delete
                            </button>
                    </div>
                </div>
            </div>
        }
    </div>
}
